In [25]:
import pandas as pd
import numpy as np

In [26]:
df = pd.read_csv("../monkeypox-build/data/nextstrain__metadata_300.tsv", sep = "\t")

In [27]:
df

,strain,date,date_submitted,country,host,recency,clade_membership,region,lineage,author,accession,GA_CT_fraction,dinuc_context_fraction
0,4061,2022-05-20,2022-06-24,Spain,Homo sapiens,Older,IIb,Europe,NaN,"de la Hoz-Sanchez,B., Lopez-Ortiz,M., Gutierre...",ON838940,NaN,NaN
1,8887,2022-06-06,2022-06-24,Spain,Homo sapiens,Older,IIb,Europe,NaN,"de la Hoz-Sanchez,B., Lopez-Ortiz,M., Gutierre...",ON838939,1.0,NaN
2,9000369,2022-08-31,2022-09-27,United Kingdom,Homo sapiens,Older,IIb,Europe,NaN,"Groves,N., Osman,K.L., Lewandowski,K.S., Carte...",OP536750,1.0,NaN
3,9000385,2022-09-02,2022-09-27,United Kingdom,Homo sapiens,Older,IIb,Europe,NaN,"Groves,N., Osman,K.L., Lewandowski,K.S., Carte...",OP536764,1.0,NaN
4,9000396,2022-09-30,2022-09-27,United Kingdom,Homo sapiens,Older,IIb,Europe,NaN,"Groves,N., Osman,K.L., Lewandowski,K.S., Carte...",OP536774,1.0,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,Slovenia-MPXV-44-2022,2022-08-05,2022-10-11,Slovenia,Homo sapiens,Older,IIb,Europe,NaN,"Zakotnik,S., Vlaj,D., Suljic,A., Zorec,T.M., K...",OP605585,NaN,NaN
297,Slovenia-MPXV-40-2022,2022-08-05,2022-10-11,Slovenia,Homo sapiens,Older,IIb,Europe,NaN,"Zakotnik,S., Vlaj,D., Suljic,A., Zorec,T.M., K...",OP605581,NaN,NaN
298,MPXV/ITM_pt_31/Belgium/27-May-2022,2022-05-27,2022-07-08,Belgium,Homo sapiens,Older,IIb,Europe,NaN,"De Baetselier,I., Van Dijck,C., Kenyon,C., Cop...",ON950045,NaN,NaN
299,MPXV/ITM_pt_25/Belgium/16-Jun-2022,2022-06-16,2022-08-04,Belgium,Homo sapiens,Older,IIb,Europe,NaN,"De Baetselier,I., Van Dijck,C., Kenyon,C., Cop...",OP144214,NaN,NaN
300,MPXV/ITM_pt_16/Belgium/10-Jun-2022,2022-06-10,2022-08-04,Belgium,Homo sapiens,Older,IIb,Europe,NaN,"De Baetselier,I., Van Dijck,C., Kenyon,C., Cop...",OP144212,NaN,NaN

In [28]:
north_america = ['Canada','USA']
western_europe = ['Austria','Germany','Switzerland','United Kingdom','France','Belgium']
central_europe = ['Slovakia','Slovenia']
southern_europe = ['Italy','Portugal','Spain']
south_american = ['Colombia','Peru']

In [29]:
df["region_coarse"] = np.nan
df.region_coarse[df.country.isin(north_america)] = "North America"
df['region_coarse'][df.country.isin(western_europe)] = "Western Europe"
df['region_coarse'][df.country.isin(central_europe)] = "Central Europe"
df['region_coarse'][df.country.isin(southern_europe)] = "Southern Europe"
df['region_coarse'][df.country.isin(south_american)] = "South America"

/var/folders/h9/0347drb57tsgxzbddmvmlvf80000gp/T/ipykernel_73462/557305204.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.region_coarse[df.country.isin(north_america)] = "North America"

In [32]:
df = df[["accession", "date", "region_coarse", "country", "strain"]]
df

,accession,date,region_coarse,country,strain
0,ON838940,2022-05-20,Southern Europe,Spain,4061
1,ON838939,2022-06-06,Southern Europe,Spain,8887
2,OP536750,2022-08-31,Western Europe,United Kingdom,9000369
3,OP536764,2022-09-02,Western Europe,United Kingdom,9000385
4,OP536774,2022-09-30,Western Europe,United Kingdom,9000396
...,...,...,...,...,...
296,OP605585,2022-08-05,Central Europe,Slovenia,Slovenia-MPXV-44-2022
297,OP605581,2022-08-05,Central Europe,Slovenia,Slovenia-MPXV-40-2022
298,ON950045,2022-05-27,Western Europe,Belgium,MPXV/ITM_pt_31/Belgium/27-May-2022
299,OP144214,2022-06-16,Western Europe,Belgium,MPXV/ITM_pt_25/Belgium/16-Jun-2022
300,OP144212,2022-06-10,Western Europe,Belgium,MPXV/ITM_pt_16/Belgium/10-Jun-2022

In [33]:
df.to_csv("../monkeypox-build/data/metadata_region_300.tsv", sep = "\t")