In [9]:
import pandas as pd
import numpy as np

In [29]:
df = pd.read_csv("../monkeypox-build/data/nextstrain__metadata_2.tsv", sep = "\t")

In [30]:
df

,strain,accession,date,date_submitted,clade_membership,region,host,country,recency,lineage,author,dinuc_context_fraction,GA_CT_fraction
0,4061,ON838940,2022-05-20,2022-06-24,IIb,Europe,Homo sapiens,Spain,Older,B.1,"de la Hoz-Sanchez,B., Lopez-Ortiz,M., Gutierre...",NaN,NaN
1,8887,ON838939,2022-06-06,2022-06-24,IIb,Europe,Homo sapiens,Spain,Older,B.1,"de la Hoz-Sanchez,B., Lopez-Ortiz,M., Gutierre...",1.0,1.0
2,9000353,OP413717,2022-08-01,2022-09-12,IIb,Europe,Homo sapiens,United Kingdom,Older,B.1,"Groves,N., Osman,K.L., Lewandowski,K.S., Carte...",NaN,NaN
3,9000370,OP536751,2022-08-01,2022-09-27,IIb,Europe,Homo sapiens,United Kingdom,Older,B.1.3,"Groves,N., Osman,K.L., Lewandowski,K.S., Carte...",1.0,1.0
4,9000374,OP536754,2022-08-01,2022-09-27,IIb,Europe,Homo sapiens,United Kingdom,Older,B.1,"Groves,N., Osman,K.L., Lewandowski,K.S., Carte...",1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
555,MPXV/Human/USA/CA-LACPHL-MA00303/2022,OP890537,2022-09-29,2022-11-24,IIb,North America,Homo sapiens,USA,Older,B.1.2,"Hemarajata,P., Green,N.M., Garrigues,J.M.",1.0,1.0
556,B1221120,OP935997,2022-11-09,2022-12-02,IIb,North America,Homo sapiens,USA,One month ago,B.1.2,"Bajwa,M.I., Miller,H.",NaN,NaN
557,B1221119,OP935996,2022-11-08,2022-12-02,IIb,North America,Homo sapiens,USA,One month ago,B.1.2,"Bajwa,M.I., Miller,H.",1.0,1.0
558,MPXV/Human/USA/CA-LACPHL-MA00288/2022,OP890546,2022-10-04,2022-11-24,IIb,North America,Homo sapiens,USA,Older,B.1.2,"Hemarajata,P., Green,N.M., Garrigues,J.M.",NaN,NaN
559,MPXV/Human/USA/CA-LACPHL-MA00290/2022,OP890548,2022-10-02,2022-11-24,IIb,North America,Homo sapiens,USA,Older,B.1.2,"Hemarajata,P., Green,N.M., Garrigues,J.M.",NaN,NaN

In [31]:
north_america = ['Canada','USA']
western_europe = ['Austria','Germany','Switzerland','United Kingdom','France','Belgium']
central_europe = ['Slovakia','Slovenia']
southern_europe = ['Italy','Portugal','Spain']
south_american = ['Colombia','Peru']

In [32]:
df["region_coarse"] = np.nan
df.region_coarse[df.country.isin(north_america)] = "North America"
df['region_coarse'][df.country.isin(western_europe)] = "Western Europe"
df['region_coarse'][df.country.isin(central_europe)] = "Central Europe"
df['region_coarse'][df.country.isin(southern_europe)] = "Southern Europe"
df['region_coarse'][df.country.isin(south_american)] = "South America"

/var/folders/h9/0347drb57tsgxzbddmvmlvf80000gp/T/ipykernel_85716/557305204.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.region_coarse[df.country.isin(north_america)] = "North America"

In [33]:
df = df[["accession", "date", "region_coarse", "strain"]]
df

,accession,date,region_coarse,strain
0,ON838940,2022-05-20,Southern Europe,4061
1,ON838939,2022-06-06,Southern Europe,8887
2,OP413717,2022-08-01,Western Europe,9000353
3,OP536751,2022-08-01,Western Europe,9000370
4,OP536754,2022-08-01,Western Europe,9000374
...,...,...,...,...
555,OP890537,2022-09-29,North America,MPXV/Human/USA/CA-LACPHL-MA00303/2022
556,OP935997,2022-11-09,North America,B1221120
557,OP935996,2022-11-08,North America,B1221119
558,OP890546,2022-10-04,North America,MPXV/Human/USA/CA-LACPHL-MA00288/2022
559,OP890548,2022-10-02,North America,MPXV/Human/USA/CA-LACPHL-MA00290/2022

In [28]:
df.to_csv("../monkeypox-build/data/metadata_region.tsv", sep = "\t")